name: Test

on: [push,workflow_call]

jobs:
  build:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setup Node
        uses: actions/setup-node@v3
      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 8
      - name: Dependencies
        run: pnpm install
      - name: Typecheck
        run: pnpm tsc
      - name: Tests
        uses: GabrielBB/xvfb-action@v1.0
        with:
          run: pnpm test
